@import '../../../../scss/constants/responsive';

.MenuButton {
    font-size: 1.8em;

    &:not(:last-child) {
        margin-right: $margin__wide;
    }

    @media (min-width: $width__breakpoint) {
        font-size: 2.4em;
    }
}