@import '../../../../scss/constants/colours';
@import '../../../../scss/constants/responsive';

.YearlingsBobtailUpsell {
    color: $colour__neutral__dark;
    text-align: center;
}

label {
    .YearlingsBobtailUpsell
    & {
        line-height: 1.25em;
    }
}
