@import '../../scss/constants/responsive';

.Page {
    // height: 100%;
    // width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: $margin__wide;
    box-sizing: border-box;
    overflow-y: scroll;
    
    @media (min-width: $width__page) {
        width: $width__page;
    }
}
