@import '../../../scss/constants/responsive';

.ShareButton {
    svg {
        height: $length__icon__mobile;
        width: $length__icon__mobile;
    }

    @media (min-width: $width__page__narrow) {
        svg {
            height: $length__icon;
            width: $length__icon;
        }    
    }
}