@import '../../scss/colours.scss';
@import '../../scss/responsive.scss';

.Footer {
    position: absolute;
    top: 100%;
    width: 100%;
    height: $height__footer;
    background-color: $colour__background__footer;

    display: flex;
    justify-content: center;
    align-items: center;
}