@import '../../scss/responsive.scss';

.Page {
    background-color: #ddf;
    height: 100%;
    width: 100%;

    @media (min-width: $width__page) {
        width: $width__page;
    }

    padding: 0 $margin__wide;
}
