@import '../constants/colours';

@font-face {
    font-family: Asap;
    src: url('../assets/fonts/Asap/Asap-Regular.ttf');
}

@font-face {
    font-family: Asap;
    src: url('../assets/fonts/Asap/Asap-RegularItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Asap;
    src: url('../assets/fonts/Asap/Asap-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Asap;
    src: url('../assets/fonts/Asap/Asap-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: Peralta;
    src: url('../assets/fonts/Peralta/Peralta-Regular.ttf');
}

.font__text {
    font-family: Asap, Arial;
    letter-spacing: -0.025em;
}

.font__heading {
    font-family: Peralta, Georgia;
    font-weight: normal;
}

.font__finePrint {
    font-size: 0.75em;
    color: $colour__neutral__dark;
}

.fontSize__sm { font-size: 0.66em; }
.fontSize__md { font-size: 1em; }
.fontSize__lg { font-size: 1.15em; }