@import '../constants/colours';

@font-face {
    font-family: Fresca;
    src: url('../assets/fonts/Fresca/FrescaMusic-Regular.ttf');
}

@font-face {
    font-family: Peralta;
    src: url('../assets/fonts/Peralta/Peralta-Regular.ttf');
}

.font__text {
    font-family: Fresca, Arial;
    letter-spacing: 0.025em;
}

.font__heading {
    font-family: Peralta, Georgia;
    font-weight: normal;
}

.font__finePrint {
    font-size: 0.75em;
    color: $colour__neutral__dark;
}