@import '../constants/responsive';

.responsive__header {
    height: $height__headerChild__mobile + $margin__narrow * 2;
    padding: $margin__narrow 0;

    @media (min-width: $width__page) {
        height: $height__headerChild + $margin__wide * 2;
        padding: $margin__wide 0;
    }
}

.responsive__headerChild {
    width: $width__headerChild__mobile;

    @media (min-width: $width__page) {
        width: $width__headerChild;
    }
}
