$colour__neutral__light: hsl(0, 0%, 73%);
$colour__neutral__dark: hsl(0, 0%, 53%);

$colour__text__dark: hsl(0, 0%, 27%);

$colour__label__light: hsl(180, 33%, 80%);
$colour__label__dark: hsl(180, 27%, 63%);

$colour__link__light: hsl(180, 33%, 80%);
$colour__link__medium: hsl(180, 33%, 80%);
$colour__link__dark: hsl(180, 27%, 63%);
