@import './classes/animation';
@import './classes/font';
@import './classes/global';
@import './constants/colours';
@import './svgs/style';

@font-face {
    font-family: Josefin Sans;
    src: url('../assets/fonts/JosefinSans/JosefinSans-Light.ttf');
}

@font-face {
    font-family: Josefin Sans;
    src: url('../assets/fonts/JosefinSans/JosefinSans-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Josefin Sans;
    src: url('../assets/fonts/JosefinSans/JosefinSans-LightItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Josefin Sans;
    src: url('../assets/fonts/JosefinSans/JosefinSans-SemiBoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Ribeye;
    src: url('../assets/fonts/Ribeye/Ribeye-Regular.ttf');
}