@import '../../scss/constants/responsive';

.Header {
    height: $height__headerChild;
    padding: $margin__narrow $margin__wide;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #fdd;
}
